

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 226, 226);

}

.tabs{
    display:flex;
    margin-top: 20px;
}
.tabs .tab{
    background-color: rgb(218, 19, 19);
    color:white;
    padding:8px;
    margin:10px;
    border-radius: 10px;
    cursor:pointer;
    
}

.MoviesList{
    width:700px;
}