.movie-card{
    display: flex;
    width:700px;
    border:2px solid black;
    margin-bottom: 10px;
    background: honeydew;
    
}

.left{
    margin:10px;

}
.left img{
    height:150px;
    width:230px;
}
.right{
    margin:10px;
}
.right .title{
    font-size:1.3rem;
    font-weight: bold;
}

.favourite-btn{
    border-radius: 4px;
    background:white;
}
.favourite-btn img{
    height:10px;
    width:10px;
}