.movie-card{
    display: flex;
    width:700px;
   
    margin-bottom: 13px;
    margin-top:13px;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 5px 2px 2px  rgb(135, 177, 144);
}

.left{
    margin:10px;

}
.left img{
    height:150px;
    width:230px;
}
.right{
    margin:10px;
}
.right .title{
    font-size:1.3rem;
    font-weight: bold;
}

.footer img{
    margin-top:5px;
    height:25px;
    width:25px;
    cursor: pointer;
    
}